<section class="navigation">
  <nav>
    <img class="logo" src="/Images/SFlogoBlue.png" alt="" />
    <ul>
      <li>
        <a href="https://twitter.com">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>|</li>
      <li>
        <a href="/spots">Lurk</a>
      </li>
      <li>
        <a href="/spots/new">Add New</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</section>
