<section class="navigation">
  <nav>
    <!-- Needs resize after covert to home link -->
    <!-- <a href="/">
      <img class="logo" src="/Images/SFlogoBlue.png" alt="" />
    </a> -->
    <img class="logo" src="/Images/SFlogoBlue.png" alt="" />
    <ul>
      <li>
        <a href="https://twitter.com">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <!-- <li>|</li> -->
      <% if(!currentUser) {%>
      <li>
        <a href="/spots">Lurk</a>
      </li>
      <li>
        <a href="/login">Sign-In</a>
      </li>
      <li>
        <a href="/register">Sign-Up</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <% } else {%>
      <li>
        <a href="spots/new">New</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>|</li>
      <li>
        <a href="/logout">LogOut</a>
      </li>
      <% } %>
    </ul>
  </nav>
</section>
