<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8a592e980d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/styles.css" />

    <title>SpotFinder</title>
  </head>
  <body>
    <!-- NAVIGATION -->
    <%- include('../partials/navbar') %>
    <!-- MAIN -->
    <section class="main">
      <div class="main-body"><%- body %></div>
    </section>
    <section class="footer">
      <div class=""><%- include('../partials/footer') %></div>
    </section>
  </body>
</html>
