<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8a592e980d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <title>SpotFinder</title>
  </head>
  <body>
    <!-- NAVIGATION -->
    <section class="navigation">
      <nav>
        <img class="logo" src="/Images/Spot Finder Logo 7 (trans).png" alt="" />
        <ul>
          <li>
            <a href="https://twitter.com">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>|</li>
          <li>
            <a href="">Sign-In</a>
          </li>
          <li>
            <a href="">Sign-Up</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
    </section>
    <!-- MAIN -->
    <section class="main">
      <div class="main-body"><%- body %></div>
    </section>
  </body>
</html>
