<% layout('layouts/boilerplate') %>

<!-- CONTACT PAGE  -->
<section class="contact-page" id="landing-page">
  <div class="contact-background">
    <div class="contact-overlay"></div>
  </div>

  <div class="contact-landing"><%- include('./partials/flash') %></div>
</section>
