<% layout('layouts/boilerplate') %>

<div class="alert-page container">
  <div class="error-background">
    <div class="error-overlay"></div>
  </div>
  <div class="error-alert-page">
    <h4 class="alert-heading">Oops...looks like an Error</h4>
    <p class="error-data-1">Error Message HERE</p>
    <hr />
    <p class="error-data-sub">Another Message HERE</p>
  </div>
</div>
