<% layout('layouts/boilerplate') %>

<div class="alert-page container">
  <div class="error-background">
    <div class="error-overlay"></div>
  </div>
  <div class="error-alert-page">
    <h4 class="alert-heading"><%= err.message %></h4>

    <% if (process.env.NODE_ENV !== 'production') { %>
    <p class="error-data-1"><%= err.stack %></p>
    <% } %>

    <hr />
    <div class="show-buttons">
      <a href="/spots">Back to All</a>
    </div>
  </div>
</div>
