<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <title>SpotFinder</title>
  </head>
  <body>
    <section class="landing-page" id="landing-page">
      <div class="background">
        <div class="overlay"></div>
      </div>
      <div class="hero-landing">
        <div class="hero-text">
          <h1>Welcome to SpotFinder</h1>
          <p>Skate it, Save it, Pass it to the Left</p>
          <div class="buttons">
            <div class="hero-button1"><a href="">Sign-In</a></div>
            <div class="hero-button2"><a href="">Sign-Up</a></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
