<% layout('layouts/boilerplate') %>

<!-- NAVIGATION -->
<!-- <section class="navigation">
  <nav>
    <img class="logo" src="/Images/Spot Finder Logo 7 (trans).png" alt="" />
    <ul>
      <li>
        <a href="https://twitter.com">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>|</li>
      <li>
        <a href="">Sign-In</a>
      </li>
      <li>
        <a href="">Sign-Up</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</section> -->

<!-- LANDING PAGE  -->
<section class="landing-page" id="landing-page">
  <div class="background">
    <div class="overlay"></div>
  </div>
  <div class="hero-landing">
    <div class="hero-text">
      <h3>Welcome to</h3>
      <h1>S<span>pot</span>F<span>inder</span></h1>
      <p>
        Skate it, Rate it,<br />
        Pass it to the Left
      </p>
      <div class="buttons">
        <div class="hero-button1"><a href="">Sign-In</a></div>
        <div class="hero-button2"><a href="">Sign-Up</a></div>
        <div class="hero-button3"><a href="/spots">Lurk Spots</a></div>
      </div>
    </div>
  </div>
</section>
