<% layout('layouts/boilerplate') %>

<!-- LANDING PAGE  -->
<section class="landing-page" id="landing-page">
  <div class="background">
    <div class="overlay"></div>
  </div>
  <div class="hero-landing">
    <%- include('./partials/flash') %>
    <div class="hero-text">
      <!-- <h3>Welcome to</h3> -->
      <!-- <h1>S<span>pot</span>F<span>inder</span></h1> -->
      <p>Skate it, Rate it, Pass it to the Left</p>
      <div class="buttons">
        <div class="hero-button1"><a href="/login">Sign-In</a></div>
        <div class="hero-button2"><a href="/register">Sign-Up</a></div>

        <!-- <div class="hero-button3"><a href="/spots">All Spots</a></div> -->
      </div>
    </div>
  </div>
</section>
