* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(253, 253, 253, 0.301);
  z-index: 10000;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(3px);
}

.logo {
  width: 12%;
  margin: 0.75rem 3rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  color: #003049;
}

nav ul a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #003049;
  cursor: pointer;
}

nav li {
  margin-right: 4rem;
  text-decoration: none;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  backdrop-filter: blur(1.5px);
}

footer h3 {
  color: #f7800071;
  font-size: 0.85rem;
  padding-left: 2rem;
}

/* LANDING PAGE IMAGE & OVERLAY */
.background {
  background-image: url(/Images/Logo-3D\(5\).png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.background .overlay {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

/* LANDING PAGE CONTROLS */
.hero-landing {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* LANDING PAGE TEXT */
.hero-text {
  margin-top: 27rem;
  margin-right: 20rem;
}

/* .hero-text h1 {
  font-size: 9rem;
  color: #eeead6;
  text-align: center;
  margin-top: 0rem;
} */

/* .hero-text h1 span {
  font-size: 8rem;
}

.hero-text h3 {
  font-size: 3rem;
  color: #eeead6;
  text-align: center;
} */

.hero-text p {
  font-size: 2.25rem;
  color: #eae2b7;
}

/* LANDING PAGE BUTTONS */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-button1 {
  width: 8rem;
  height: 2.5rem;
  background-color: #fcbf49;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 1.85rem;
  margin-top: 0.4rem;
}

.hero-button1 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #003049;
  margin-top: 1rem;
}

.hero-button1:hover {
  transition: 0.5s;
}

.hero-button1 a:hover {
  transition: 0.35s;
  color: #eae2b7;
}

.hero-button2 {
  width: 8rem;
  height: 2.5rem;
  border: 1px solid #c9ada7;
  /* background-color: #c9ada7; */
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.hero-button2 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #eae2b7;
  margin-top: 1rem;
}

.hero-button2:hover {
  background-color: #fcbf49;
  transition: 0.5s;
}

.hero-button2 a:hover {
  transition: 0.5s;
}

.hero-button3 {
  width: 10rem;
  height: 2.5rem;
  border: 1px solid #c9ada7;
  /* background-color: #c9ada7; */
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.hero-button3 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #eae2b7;
  margin-top: 1rem;
}

.hero-button3:hover {
  background-color: #fcbf49;
  transition: 0.5s;
}

.hero-button3 a:hover {
  transition: 0.5s;
}

/* INDEX SECTION  */

/* .index-main {
  height: 100%;
} */

/* INDEX IMAGE AND OVERLAY */
.index-background {
  background-image: url(/Images/pushAltered5.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  position: fixed;
}

.index-overlay {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* MAIN INDEX CONTROLS */
.index-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.index-column-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  position: absolute;
  top: 60%;
  left: 73%;
  transform: translate(-50%, -50%);
  z-index: 5000;
}

/* INDEX TEXT  */
.index-text {
  color: #eae2b7;
}

.index-text-main {
  border-bottom: 1px solid #eae2b7;
  margin-bottom: 1rem;
}

.index-text h1 {
  font-size: 5.5rem;
  margin-bottom: 0.5rem;
}

.index-list .index-description {
  margin-top: 1rem;
  color: #011a27;
}

/* INDEX MAIN DESIGN */
.index-list {
  height: 100vh;
  margin-bottom: 3rem;
}

/* INDEX CONTAINER DESIGN */
.index-list ul li {
  margin: 1rem;
  background: rgba(255, 254, 253, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
}

/* SHOW LINK DESIGN */

/* INDEX IMAGE CONTROLS */
.index-list-image img {
  width: 50%;
}

/* INDEX TEXT */
.index-list h2 {
  font-size: 2.15rem;
  color: #012031;
  padding-top: 0.25rem;
  margin-bottom: -1rem;
}

.index-location {
  font-size: 1rem;
  color: #382005;
  font-weight: 500;
}

.index-description {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.index-list p a {
  text-decoration: none;
  font-size: 0.75rem;
  color: #003049;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.4rem;
}

.add-button {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0.5rem 1rem;
}

.add-button1 {
  font-size: 1.25rem;
  margin-top: 1rem;
  border: 1px solid #eae2b7;
  border-radius: 4rem;
  width: 8.75rem;
  cursor: pointer;
}

.add-button2 {
  font-size: 1.25rem;
  margin-top: 1rem;
  border: 1px solid #eae2b7;
  border-radius: 4rem;
  width: 8.75rem;
  cursor: pointer;
}

.add-button1 a {
  text-decoration: none;
  margin: 0.75rem;
  color: #eae2b7;
}

.add-button2 a {
  text-decoration: none;
  margin: 0.75rem;
  color: #eae2b7;
}

/* SHOW SECTION */

.show-main {
  padding-top: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-card {
  width: 60%;
  height: 100vh;
  background-color: rgba(253, 253, 253, 0.301);
  backdrop-filter: blur(3px);
}

.show-text {
  text-align: center;
}

.show-text h1 {
  font-size: 3rem;
}

.show-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #f77f00;
}

.show-text h3 {
  margin-bottom: 0.5rem;
}

.show-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-image img {
  width: 60%;
  margin-bottom: 1rem;
}

.show-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.show-buttons a {
  background-color: #003049;
  color: #eeead6;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #003049;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}

.show-buttons form button {
  background-color: #003049;
  color: #eeead6;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #003049;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

/* EDIT SECTION */

.edit-column-1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 45%;
}

.edit-column-2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 51%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 75%;
  background-color: #f77f00;
  border-radius: 5px;
  overflow: hidden;
}

.edit-text {
  text-align: center;
}

.edit-text h1 {
  font-size: 3rem;
}

.edit-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f77f00;
}

.edit-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-image img {
  width: 100%;
  /* margin-left: 3rem; */
  margin-bottom: 1rem;
}

.edit-form {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 90%;
}

.edit-page-buttons {
  display: block;
}

.edit-form button {
  color: #003049;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: none;
  border: 1px solid #003049;
  cursor: pointer;
}

.edit-form .edit-page-buttons a {
  color: #003049;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: none;
  border: 1px solid #003049;
  margin-top: 1rem;
  text-decoration: none;
}

.edit-page-buttons {
  margin-top: 1rem;
  text-align: center;
}

.form-control-edit {
  position: relative;
  margin-bottom: 1rem;
}

.form-control-edit label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  color: #003049;
}

.form-control-edit input {
  border-radius: 4px;
  font-size: 1.15rem;
  display: block;
  width: 100%;
  padding: 0.25rem;
  border: 2px solid #003049;
  text-align: center;
}

.form-control-edit textarea {
  border: 2px solid #003049;
  display: block;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  font-size: 1.15rem;
  width: 100%;
  padding: 0.25rem;
}

.form-control-edit.success input {
  border-color: #2ecc71;
  border-width: 2px;
}

.form-control-edit.error input {
  border-color: #e74c3c;
  border-width: 2px;
}

.form-control-edit.success textarea {
  border-color: #2ecc71;
  border-width: 2px;
}

.form-control-edit.error textarea {
  border-color: #e74c3c;
  border-width: 2px;
}

.form-control-edit.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-control-edit.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-control-edit.success .small-success {
  color: #2ecc71;
  visibility: visible;
}

.form-control-edit.error .small-error {
  color: #e74c3c;
  visibility: visible;
}

.form-control-edit i {
  position: absolute;
  top: 53px;
  right: 10px;
  visibility: hidden;
}

.form-control-edit small {
  font-weight: 800;
  position: absolute;
  left: 10px;
  top: 78px;
  visibility: hidden;
}

/* NEW SECTION */

.new-background {
  background-image: url(/Images/pushAltered3.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
}

.new-overlay {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.new-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: rgba(248, 248, 246, 0.21);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 7, 10, 0.5);
  backdrop-filter: blur(3.9px);
  width: 40rem;
  overflow: hidden;
}

.form-container form {
  padding: 2rem 3rem;
}

.header {
  background: rgba(240, 214, 111, 0.21);
  border-bottom: 1px solid #fcbf49;
  padding: 0.5rem 0rem;
}

.header h2 {
  margin: 0;
  font-size: 3rem;
  color: #eae2b7;
}

.form-control {
  position: relative;
  margin-bottom: 1rem;
}

.form-control label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #eae2b7;
}

.form-control input {
  border: 1px solid #fcbf49;
  border-radius: 4px;
  font-size: 1.15rem;
  display: block;
  width: 100%;
  padding: 0.25rem;
  border: 2px solid #003049;
}

.form-control.success input {
  border-color: #2ecc71;
  border-width: 2px;
}

.form-control.error input {
  border-color: #e74c3c;
  border-width: 2px;
}

.form-control.success textarea {
  border-color: #2ecc71;
  border-width: 2px;
}

.form-control.error textarea {
  border-color: #e74c3c;
  border-width: 2px;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-control.success .small-success {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error .small-error {
  color: #e74c3c;
  visibility: visible;
}

.form-control textarea {
  border: 2px solid #003049;
  display: block;
  border-radius: 4px;
  font-size: 1.15rem;
  width: 100%;
  padding: 0.25rem;
}

.form-control ::placeholder {
  font-size: 0.85rem;
  color: #003049;
  padding-left: 0.5rem;
  font-family: inherit;
  text-align: center;
}

.form-control i {
  position: absolute;
  top: 53px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  font-weight: 800;
  position: absolute;
  left: 10px;
  top: 83px;
  visibility: hidden;
}

.new-page-buttons {
  padding-top: 1rem;
}

.new-button {
  color: #eae2b7;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: none;
  border: 1px solid #eae2b7;
  cursor: pointer;
  background-color: #f77f00;
}

.new-back-button {
  text-decoration: none;
  color: #eae2b7;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: none;
  border: 1px solid #eae2b7;
  background-color: #f77f00;
}
