* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(253, 253, 253, 0.301);
  z-index: 10000;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(3px);
}

.logo {
  width: 9%;
  margin: 0.75rem 3rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  color: #003049;
}

nav ul a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #003049;
  cursor: pointer;
}

nav li {
  margin-right: 4rem;
  text-decoration: none;
}

/* LANDING PAGE IMAGE & OVERLAY */
.background {
  background-image: url(/Images/ledgeAltered3.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.background .overlay {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: 100%;
  opacity: 0.45;
}

/* LANDING PAGE CONTROLS */
.hero-landing {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* LANDING PAGE TEXT */
.hero-text {
  margin-top: 3.5rem;
  margin-right: 22rem;
}

.hero-text h1 {
  font-size: 8rem;
  color: #eeead6;
  text-align: center;
  margin-top: 0rem;
}

.hero-text h1 span {
  font-size: 7rem;
}

.hero-text h3 {
  font-size: 3rem;
  color: #eeead6;
  text-align: center;
}

.hero-text p {
  font-size: 2.5rem;
  color: #eae2b7;
  text-align: center;
  margin-top: 2rem;
}

/* LANDING PAGE BUTTONS */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-button1 {
  width: 8rem;
  height: 2.5rem;
  background-color: #fcbf49;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 1.85rem;
  margin-top: 0.4rem;
}

.hero-button1 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #003049;
  margin-top: 1rem;
}

.hero-button1:hover {
  background-color: #f77f00;
  transition: 0.5s;
}

.hero-button1 a:hover {
  transition: 0.3s;
  color: #eae2b7;
}

.hero-button2 {
  width: 8rem;
  height: 2.5rem;
  border: 1px solid #c9ada7;
  /* background-color: #c9ada7; */
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.hero-button2 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #eae2b7;
  margin-top: 1rem;
}

.hero-button2:hover {
  background-color: #f77f00;
  transition: 0.5s;
}

.hero-button2 a:hover {
  transition: 0.5s;
}

.hero-button3 {
  width: 10rem;
  height: 2.5rem;
  border: 1px solid #c9ada7;
  /* background-color: #c9ada7; */
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.hero-button3 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #eae2b7;
  margin-top: 1rem;
}

.hero-button3:hover {
  background-color: #f77f00;
  transition: 0.5s;
}

.hero-button3 a:hover {
  transition: 0.5s;
}

/* INDEX SECTION  */

/* .index-main {
  height: 100%;
} */

/* INDEX IMAGE AND OVERLAY */
.index-background {
  background-image: url(/Images/pushAltered5.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  position: fixed;
}

.index-overlay {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* MAIN INDEX CONTROLS */
.index-column-1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.index-column-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  position: absolute;
  top: 60%;
  left: 73%;
  transform: translate(-50%, -50%);
}

/* INDEX TEXT  */
.index-text {
  color: #eae2b7;
}

.index-text-main {
  border-bottom: 1px solid #eae2b7;
  margin-bottom: 1rem;
}

.index-text h1 {
  font-size: 5.5rem;
  margin-bottom: 0.5rem;
}

.index-list .index-description {
  margin-top: 1rem;
  color: #011a27;
}

/* INDEX MAIN DESIGN */
.index-list {
  height: 100vh;
}

/* INDEX CONTAINER DESIGN */
.index-list ul li {
  margin: 1rem;
  background-color: #ffffffa8;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
}

/* SHOW LINK DESIGN */
.index-list li a {
  font-weight: 900;
  color: #003049;
}

/* INDEX IMAGE CONTROLS */
.index-list-image img {
  width: 50%;
}

/* INDEX TEXT */
.index-list h2 {
  font-size: 2.15rem;
  color: #003049;
}

.index-list p {
  font-size: 1.15rem;
  color: #382005;
  margin-top: 0.5rem;
}

.index-list p a {
  text-decoration: none;
  font-size: 0.75rem;
  color: #003049;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.3rem;
}

.add-button {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0.5rem 1rem;
}

.add-button1 {
  font-size: 1.25rem;
  margin-top: 1rem;
  border: 1px solid #eae2b7;
  border-radius: 4rem;
  width: 8.75rem;
}

.add-button2 {
  font-size: 1.25rem;
  margin-top: 1rem;
  border: 1px solid #eae2b7;
  border-radius: 4rem;
  width: 8.75rem;
}

.add-button1 a {
  text-decoration: none;
  margin: 0.75rem;
  color: #eae2b7;
}

.add-button2 a {
  text-decoration: none;
  margin: 0.75rem;
  color: #eae2b7;
}

/* SHOW SECTION */

.show-main {
  padding-top: 6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-card {
  width: 80%;
  height: 95%;
  background-color: rgba(253, 253, 253, 0.301);
  backdrop-filter: blur(3px);
}

.show-text {
  text-align: center;
}

.show-text h1 {
  font-size: 3rem;
}

.show-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.show-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-image img {
  width: 70%;
  margin-bottom: 1rem;
}

.show-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.show-buttons a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #003049;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}

.show-buttons form button {
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #003049;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

/* EDIT SECTION */

.edit-main {
  padding-top: 5rem;
  height: 100vh;
}

.edit-column-1 {
}

.edit-column-2 {
}

.edit-text {
}

.edit-text h1 {
  font-size: 3rem;
}

.edit-text h2 {
}

.edit-image img {
  width: 60%;
}

.edit-form {
}

.edit-form form input {
}

.edit-form form button {
}

.edit-home-button {
}

.edit-home-button a {
  text-decoration: none;
}

/* NEW SECTION */

.new-main {
  padding: 5rem 0rem 2rem 3rem;
  height: 100vh;
}
