<% layout('layouts/boilerplate') %>

<div class="register-main">
  <div class="register-background">
    <div class="register-overlay"></div>
  </div>

  <div class="form-container">
    <%- include('../partials/flash') %>
    <div class="header">
      <h2>Sign-In</h2>
    </div>
    <form
      action="/login"
      method="POST"
      class="login-form"
      id="login-form"
      onsubmit="return checkInputs()"
    >
      <div class="form-control">
        <label for="username" class="form-label">Username:</label>
        <input
          type="text"
          id="login-username"
          name="username"
          placeholder="enter username"
        />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small class="small-error">Error</small>
        <small class="small-success">Looks Good</small>
      </div>

      <div class="form-control">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          id="login-password"
          name="password"
          placeholder="enter password"
        />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small class="small-error">Error</small>
        <small class="small-success">Looks Good</small>
      </div>

      <div class="new-page-buttons">
        <button class="new-button" type="submit" id="login-submit">
          Sign In
        </button>
        <a href="/spots" class="new-back-button">All Spots</a>
      </div>
    </form>
  </div>
</div>

<script src="/public/javascript/validateLoginForms.js"></script>
