<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8a592e980d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <title>Spots</title>
  </head>
  <body>
    <h1>All Spots</h1>

    <ul>
      <% for (let spot of spots) { %>
      <li><a href="/spots/<%= spot._id %>"><%= spot.title %></a></li>
      <% } %>
    </ul>
    <footer>
      <h2><a href="/spots/new">Add a Spot</a></h2>
    </footer>
  </body>
</html>
