<% layout('layouts/boilerplate') %>

<section class="index-section" id="index-section">
  <div class="index-background">
    <div class="index-overlay"></div>
  </div>

  <div class="index-main">
    <div class="index-column-1">
      <h1 class="index-text">Newest Spots</h1>
      <div class="add-button">
        <h2 class="add-button1"><a href="/spots/new">Add a Spot</a></h2>
        <h2 class="add-button2"><a href="/">Home</a></h2>
      </div>
    </div>
    <div class="index-column-2">
      <div class="index-list">
        <ul>
          <% for (let spot of spots) { %>
          <li>
            <a href="/spots/<%= spot._id %>"
              ><%= spot.title %> <br />
              <span><%= spot.location %></span></a
            >
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</section>
