<% layout('layouts/boilerplate') %>

<div class="new-page">
  <div class="new-background">
    <div class="new-overlay"></div>
  </div>

  <div class="form-container">
    <div class="header">
      <h2>Add a New Spot</h2>
    </div>
    <form
      action="/spots"
      method="POST"
      class="new-form"
      id="new-form"
      onsubmit="return checkInputs()"
      enctype="multipart/form-data"
    >
      <div class="form-control">
        <label for="title" class="form-label">Name:</label>
        <input type="text" id="title" name="spot[title]" placeholder="NAME" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small class="small-error">Error</small>
        <small class="small-success">Looks Good</small>
      </div>

      <div class="form-control">
        <label for="image" class="form-label">Image:</label>
        <input type="file" name="image" id="image" multiple />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small class="small-error">Error</small>
        <small class="small-success">Looks Good</small>
      </div>

      <div class="form-control">
        <label for="location" class="form-label">Location: </label>
        <input
          type="text"
          id="location"
          name="spot[location]"
          placeholder="CITY, STATE"
        />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small class="small-error">Error</small>
        <small class="small-success">Looks Good</small>
      </div>

      <div class="form-control">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="spot[description]"
          id="description"
          cols="20"
          rows="1"
        ></textarea>
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small class="small-error">Error</small>
        <small class="small-success">Looks Good</small>
      </div>
      <div class="new-page-buttons">
        <button class="new-button" type="submit" id="new-submit">
          Add Spot
        </button>
        <a href="/spots" class="new-back-button">All Spots</a>
      </div>
    </form>
  </div>
</div>

<script src="/public/javascript/validateNewForms.js"></script>
