<% layout('layouts/boilerplate') %>

<section class="new-section">
  <div class="new-main">
    <div class="new-text">
      <h1>Add a Spot</h1>
    </div>
    <div class="new-form">
      <form action="/spots" method="POST">
        <div>
          <label for="title">Spot Name: </label>
          <input type="text" id="title" name="spot[title]" />
        </div>
        <div>
          <label for="location">Spot Location: </label>
          <input type="text" id="location" name="spot[location]" />
        </div>
        <button>Add Spot</button>
      </form>
    </div>
  </div>
</section>
