<% layout('layouts/boilerplate') %>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>

<section class="new-section">
  <div class="new-main">
    <div class="new-background">
      <div class="new-overlay"></div>
    </div>
    <div class="new-ciricle">
      <img src="/Images/circleBackground.png" alt="" />
    </div>
    <div class="new-container-main">
      <div class="new-text">
        <h1>Add a Spot</h1>
      </div>
      <div class="new-form">
        <form action="/spots" method="POST" class="needs-validation" novalidate>
          <div>
            <label for="title" class="form-label">Spot Name: </label>
            <input
              type="text"
              id="title"
              name="spot[title]"
              class="form-control"
              required
            />
            <!-- <div class="valid-feedback">all good here whats next?</div>
            <div class="invalid-feedback">please choose a spot name</div> -->
          </div>
          <div>
            <label class="image-label" for="image">Image Url:</label>
            <input
              type="text"
              id="image"
              name="spot[image]"
              size="10"
              class="form-control"
              required
            />
            <!-- <div class="valid-feedback">all good here whats next?</div>
            <div class="invalid-feedback">please choose an image</div> -->
          </div>
          <div class="form-text-area">
            <label for="location">Description: </label>
            <textarea
              name="spot[description]"
              placeholder=""
              id="description"
              cols="10"
              rows="2"
              class="form-control"
              required
            ></textarea>
            <!-- <div class="valid-feedback">all good here whats next?</div>
            <div class="invalid-feedback">please add a spot description</div> -->
          </div>
          <div>
            <label for="location" class="form-label">Spot Location: </label>
            <input
              type="text"
              id="location"
              name="spot[location]"
              size="10"
              class="form-control"
              required
            />
            <!-- <div class="valid-feedback">all good here whats next?</div>
            <div class="invalid-feedback">please choose a spot location</div> -->
          </div>
          <div class="new-page-buttons">
            <button>Add Spot</button>
            <h2 class="new-home-button"><a href="/spots">All Spots</a></h2>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
  integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
  crossorigin="anonymous"
></script>

<script>
  (function () {
    'use strict';
    const forms = document.querySelectorAll('.needs-validation');

    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        'submit',
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false
      );
    });
  })();
</script>
